#{extends 'production.html' /}
#{set title:'Finish Production' /}
#{set 'moreStyles'}
	#{stylesheet 'production.css' /}
#{/set}

<table class="table table-bordered">
	<tr>
		<td style="font-weight: normal;">
			<span class="ball done">1</span>
			Produto</td>
		<td style="font-weight: normal;">
			<span class="ball done">2</span>
			Posição</td>
		<td style="font-weight: normal;">
			<span class="ball done">3</span>
			Tempo</td>
		<td style="font-weight: normal;">
			<span class="ball active">4</span>
			Quantidade</td>
		<td style="font-weight: normal;">
			<span class="ball">5</span>
			Desperdício</td>
		<td style="font-weight: normal;">
			<span class="ball">6</span>
			Confirmar</td>
	</tr>
</table>