#{extends 'main.html' /}
#{set title:'finish Production' /}
#{set 'moreStyles'}
	#{stylesheet 'production.css' /}
#{/set}

<table class="table table-bordered">                    
	<tr>
		<td style="font-weight: normal;">
			<span class="ball active">1</span>
			Produto
		</td>
		<td style="font-weight: normal;">
			<span class="ball">2</span>
			Posição
		</td>
		<td style="font-weight: normal;">
			<span class="ball">3</span>
			Tempo
		</td>
		<td style="font-weight: normal;">
			<span class="ball">4</span>
			Quantidade
		</td>
		<td style="font-weight: normal;">
			<span class="ball">5</span>
			Desperdício
		</td>
		<td style="font-weight: normal;">
			<span class="ball">6</span>
			Confirmar
		</td>
	</tr>
</table>

<h3 class="block">Olá, ${worker.name}! Escolha a <strong class="brown">encomenda</strong> ou o <strong class="blue">produto</strong> em que esteve a trabalhar:</h3>

<form method="POST" action="/production/set" id="test">
	<input type="hidden" name="userID">
	<input type="hidden" name="productID">
	<input type="hidden" name="positionID">
	<input type="hidden" name="time">
	<input type="hidden" name="start">
	<input type="hidden" name="quantity">
	<input type="hidden" name="waste">
	
	<div class="tile">
		<h3>Product1</h3>
	</div>
</form>

<script>
	$("#test").submit(function(e){
		e.preventDefault();
	});
	$('.tile').click(function() {
		  $('#test').submit();
	});
</script>